:root {
  --color-primary: #ffffff;
  --color-secondary: #5d1617;
  --color-tertiary: #309642;
  --color-tertiary--dark: #0a1f0e;
  --color-quaternary: #1a1919;
  --color-quinary: #f0d808; }

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 6.2rem;
  text-transform: uppercase; }

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase; }

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase; }

p {
  font-size: 1.8rem;
  line-height: 2;
  font-weight: 300; }

.ingredientes {
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 300;
  color: var(--color-primary); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  html :focus {
    outline: none; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility; }

.header {
  overflow: hidden; }
  .header__logo {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    padding: 4rem;
    z-index: 100;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center; }
  .header__logo-link {
    width: auto; }
  .header__logo-img {
    height: 6rem;
    display: block;
    border: 0; }
  .header__phone {
    font-size: 2rem !important;
    display: block;
    position: absolute;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    padding: .5rem 1rem;
    top: 12.25rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
  .header__banner {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../../img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .header__text {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3rem 3rem 3rem 100rem;
    display: block;
    position: absolute;
    top: 80%;
    left: 0;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header h1 {
    color: var(--color-tertiary); }
  .header h2 {
    color: var(--color-secondary);
    font-size: 3.3rem; }
    .header h2 span {
      font-size: 5.1rem; }

.historia {
  display: flex; }
  .historia__container--1 {
    flex: 0 0 70%;
    background-color: var(--color-quaternary);
    padding: 18rem 0; }
  .historia__container--2 {
    flex: 1;
    background-image: url(../../img/pizzaiolo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .historia__text {
    margin-left: 25rem; }
  .historia h1 {
    color: var(--color-tertiary);
    margin-bottom: 6rem; }
    .historia h1::after {
      content: "";
      display: block;
      border-bottom: 1px var(--color-primary) solid;
      margin-top: 1rem;
      width: 41%;
      position: absolute;
      left: 0; }
  .historia p {
    color: var(--color-primary);
    padding-right: 20rem;
    margin-left: 6rem; }

.cardapio {
  background-color: var(--color-secondary);
  padding: 20rem 0 10rem 0; }
  .cardapio__container {
    max-width: 114rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
  .cardapio__row--heading {
    text-align: center;
    margin-bottom: 8rem; }
  .cardapio__row--pizzas {
    margin-bottom: 8rem; }
  .cardapio h1 {
    color: var(--color-quinary);
    margin-bottom: 3rem; }
  .cardapio p {
    color: var(--color-primary); }
  .cardapio h2 {
    margin-bottom: 6rem;
    color: var(--color-quinary); }
    .cardapio h2::after {
      content: "";
      border-bottom: solid 1px var(--color-primary);
      display: block;
      width: 100%;
      margin-top: 1rem; }
  .cardapio h3 {
    color: var(--color-quinary);
    margin-bottom: 1rem; }
  .cardapio__img {
    width: 100%;
    margin-top: 6rem; }
  .cardapio__table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .cardapio__mb:not(:last-child) {
    margin-bottom: 2rem; }
  .cardapio__content {
    vertical-align: top;
    padding: 1.6rem 1.2rem;
    max-width: 28rem; }
  .cardapio__title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .cardapio__title span {
      border-bottom: 1px dashed var(--color-primary);
      flex: 1;
      margin-left: 1rem; }
  .cardapio__price {
    vertical-align: top;
    padding: 1.6rem 1.2rem; }

.agenda {
  padding: 18rem 0 0 0;
  background-color: var(--color-tertiary--dark); }
  .agenda__container {
    max-width: 114rem;
    margin: 0 auto; }
  .agenda__heading {
    color: var(--color-primary);
    text-align: center; }
    .agenda__heading h1 {
      margin-bottom: 6rem;
      color: var(--color-tertiary); }
  .agenda__content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 8rem; }
  .agenda__artista {
    color: var(--color-primary);
    width: 20%; }
    .agenda__artista h2 {
      font-size: 4.2rem;
      margin-bottom: 2rem; }
      .agenda__artista h2::after {
        content: "";
        display: block;
        border-bottom: 1px solid var(--color-primary);
        width: 5rem;
        margin: 1rem auto 0 auto; }
    .agenda__artista h3 {
      font-size: 2.2rem;
      color: var(--color-tertiary); }
    .agenda__artista p {
      text-transform: uppercase;
      margin-top: 1rem;
      font-size: 1.4rem;
      font-weight: 400; }
  .agenda__photo {
    height: auto;
    width: 7.5rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto 4rem auto; }
  .agenda__line {
    border-left: 1px solid var(--color-tertiary);
    height: 30rem; }

.fotos {
  padding: 18rem 0 0 0;
  background-color: var(--color-tertiary--dark);
  overflow: hidden; }
  .fotos__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .fotos__img {
    height: 22.5rem;
    width: auto; }

.quem-gosta {
  background-color: var(--color-quinary);
  padding: 20rem 0; }
  .quem-gosta h1 {
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 10rem; }
  .quem-gosta__carousel {
    max-width: 114rem;
    height: 20rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .quem-gosta__content {
    overflow-x: auto;
    overflow-y: hidden;
    width: 55rem;
    height: 20rem;
    margin: auto;
    padding: 5rem; }
  .quem-gosta__list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex; }
  .quem-gosta__item {
    position: relative; }
    .quem-gosta__item::before {
      content: "\201C";
      position: absolute;
      top: -5.5rem;
      left: -5rem;
      font-size: 20rem;
      color: var(--color-primary);
      font-family: sans-serif;
      line-height: 1;
      z-index: 1; }
    .quem-gosta__item:not(:last-child) {
      margin-right: 20rem; }
  .quem-gosta__text {
    width: 50rem;
    position: relative;
    z-index: 20;
    margin: 0 auto 2rem auto;
    font-size: 1.8rem;
    color: var(--color-secondary); }
  .quem-gosta__author {
    margin: 0 auto;
    text-align: end;
    color: var(--color-primary); }

.nav__checkbox {
  display: none; }

.nav__btn {
  background-color: var(--color-secondary);
  width: 6rem;
  height: 6rem;
  position: fixed;
  top: 4.5rem;
  right: 6rem;
  text-align: center;
  cursor: pointer;
  z-index: 200; }

.nav__icon {
  position: relative;
  margin-top: 2.75rem; }
  .nav__icon, .nav__icon::before, .nav__icon::after {
    width: 3rem;
    height: 3px;
    background-color: var(--color-primary);
    display: inline-block;
    transition: all .2s; }
  .nav__icon::before, .nav__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .nav__icon::before {
    top: -.8rem; }
  .nav__icon::after {
    top: .8rem; }

.nav__btn:hover .nav__icon::before {
  top: -1rem; }

.nav__btn:hover .nav__icon::after {
  top: 1rem; }

.nav__checkbox:checked + .nav__btn .nav__icon {
  background-color: transparent; }

.nav__checkbox:checked + .nav__btn .nav__icon::before {
  top: 0;
  transform: rotate(45deg); }

.nav__checkbox:checked + .nav__btn .nav__icon::after {
  top: 0;
  transform: rotate(-45deg); }

.nav__bg {
  height: 5rem;
  width: 100%;
  background-color: var(--color-secondary);
  top: 5rem;
  right: 6.5rem;
  z-index: 50;
  position: fixed;
  transition: transform 0.7s cubic-bezier(0.86, 0, 0.07, 1); }

.nav__navbar {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.nav__list {
  position: absolute;
  display: block;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  letter-spacing: 1px;
  width: 100%; }

.nav__item {
  margin: 1.5rem; }

.nav__link:link, .nav__link:visited {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.8rem;
  color: var(--color-primary);
  text-transform: uppercase;
  text-decoration: none;
  transition: all .2s; }

.nav__link:hover, .nav__link:active {
  color: var(--color-tertiary);
  transform: translateY(-0.25rem); }

.nav__checkbox:checked ~ .nav__bg {
  transform: scale(80); }

.nav__checkbox:checked ~ .nav__navbar {
  width: 100%;
  opacity: 1;
  visibility: visible; }
