.header {
    overflow: hidden;

    &__logo {
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
        padding: 4rem;  
        z-index: 100;
        background-color: var(--color-secondary);
        display: flex;
        justify-content: center;   
    }

    &__logo-link {
        width: auto;   
    }

    &__logo-img {
        height: 6rem;   
        display: block;     
        border: 0;   
    }

    &__phone {
        font-size: 2rem !important;      
        display: block;
        position: absolute;
        color: var(--color-secondary);
        background-color: var(--color-primary);
        padding: .5rem 1rem;
        top: 12.25rem;    
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 1rem 3rem rgba(#000000, .2);     
    }
    
    &__banner { 
        height: 100vh;
        background-image: linear-gradient(to bottom, rgba(#000000,.1), rgba(#000000,.2)), url(../../img/banner.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;        
    }

    &__text {
        background-color: rgba( #ffffff, .5);
        padding: 3rem 3rem 3rem 100rem;   
        display: block;
        position: absolute;
        top: 80%;
        left: 0;      
        transform: translate(-50%, -50%);
        text-align: center;
    }

    & h1 {
        color: var(--color-tertiary);
    }

    & h2 {
        color: var(--color-secondary); 
        font-size: 3.3rem;
        
        & span {
            font-size: 5.1rem;      
        }
    }
}