.nav {

    &__checkbox {
        display: none; 
    }

    &__btn {
        background-color: var(--color-secondary);
        width: 6rem;
        height: 6rem;
        position: fixed;
        top: 4.5rem;
        right: 6rem;
        text-align: center;
        cursor: pointer; 
        z-index: 200; 
    }

//// ICON
    &__icon {
        position: relative;
        margin-top: 2.75rem; 

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 3px;
            background-color: var(--color-primary);
            display: inline-block;
            transition: all .2s;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &__btn:hover &__icon::before {
        top: -1rem;
    }

    &__btn:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__btn &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__btn &__icon::before {
        top: 0;
        transform: rotate(45deg);
    }

    &__checkbox:checked + &__btn &__icon::after {
        top: 0;
        transform: rotate(-45deg);
    }
////

    &__bg {
        height: 5rem;     
        width: 100%;
        background-color: var(--color-secondary);
        top: 5rem;
        right: 6.5rem;
        z-index: 50;
        position: fixed;
        transition: transform .7s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__navbar {
        height: 100vh;
        width: 0;     
        position: fixed;
        top: 0;
        left: 0;
        z-index: 60;
        opacity: 0;
        visibility: hidden;
        transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);  
    }

    &__list {
        position: absolute;
        display: block;
        top: 55%;       
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        letter-spacing: 1px;
        width: 100%; 
    }

    &__item {
        margin: 1.5rem; 
    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 2.8rem;  
            color: var(--color-primary);
            text-transform: uppercase;
            text-decoration: none;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: var(--color-tertiary);
            transform: translateY(-.25rem);   
        }

    }

    &__checkbox:checked ~ &__bg {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__navbar {
        width: 100%;
        opacity: 1;
        visibility: visible;
    }

}