.historia {
    display: flex;

    &__container--1 {
        flex: 0 0 70%;
        background-color: var(--color-quaternary);
        padding: 18rem 0;
    }

    &__container--2 {
        flex: 1; 
        background-image: url(../../img/pizzaiolo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        //background-attachment: fixed;
    }

    &__text {
        margin-left: 25rem;  
    }

    & h1 {
        color: var(--color-tertiary); 
        margin-bottom: 6rem;

        &::after{
            content: "";
            display: block;
            border-bottom: 1px var(--color-primary) solid;
            margin-top: 1rem;  
            width: 41%;
            position: absolute;
            left: 0;  
        }
    }

    & p {
        color: var(--color-primary);
        padding-right: 20rem;
        margin-left: 6rem; 
    }
}


.cardapio {
    background-color: var(--color-secondary);       
    padding: 20rem 0 10rem 0;    
    
    &__container {
        max-width: 114rem;
        display: flex;
        flex-direction: column;
        margin: 0 auto;     
    }

    &__row--heading {
        text-align: center;
        margin-bottom: 8rem; 
    }

    &__row--pizzas {
        margin-bottom: 8rem;     
    }

    & h1 {
        color: var(--color-quinary);
        margin-bottom: 3rem;
    }

    & p {
        color: var(--color-primary);   
    }

    & h2 {
        margin-bottom: 6rem;
        color: var(--color-quinary);  
        
        &::after {
            content: "";
            border-bottom: solid 1px var(--color-primary);
            display: block;
            width: 100%;  
            margin-top: 1rem; 
        }
    }

    & h3 {
        color: var(--color-quinary);
        margin-bottom: 1rem;
    }

    &__img {
        width: 100%;
        margin-top: 6rem;
    }


    //// TABELA CARDAPIO
    &__table {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;    
    }

    &__mb:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__content {
        vertical-align: top;
        padding: 1.6rem 1.2rem; 
        max-width: 28rem;   
    }

    &__title {                          //// O H3 ESTÁ LOGO ACIMA  
        display: flex;
        align-items: flex-start; 
        justify-content: space-between; 

        & span {
            border-bottom: 1px dashed var(--color-primary);
            flex: 1;  
            margin-left: 1rem;               
        }
    }

    &__price {
        vertical-align: top;
        padding: 1.6rem 1.2rem; 
    }
}

.agenda {
    padding: 18rem 0 0 0; 
    background-color: var(--color-tertiary--dark); 

    &__container {
        max-width: 114rem;
        margin: 0 auto;   
    }

    &__heading {
        color: var(--color-primary);
        text-align: center;

        & h1 {
            margin-bottom: 6rem;
            color: var(--color-tertiary);    
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 8rem;
    }

    &__artista {
        color: var(--color-primary);
        width: 20%;  
        
        & h2 {
            font-size: 4.2rem; 
            margin-bottom: 2rem;
            
            &::after {
                content: "";
                display: block;
                border-bottom: 1px solid var(--color-primary);
                width: 5rem;
                margin: 1rem auto 0 auto;    
            }
        }

        & h3 {
            font-size: 2.2rem;
            color: var(--color-tertiary); 
        }

        & p {
            text-transform: uppercase;
            margin-top: 1rem;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }

    &__photo {
        height: auto;  
        width: 7.5rem;
        border-radius: 50%;
        display: block; 
        margin: 0 auto 4rem auto;      
    }

    &__line {
        border-left: 1px solid var(--color-tertiary);
        height: 30rem;
      }
}


.fotos {
    padding: 18rem 0 0 0; 
    background-color: var(--color-tertiary--dark);
    overflow: hidden;
    
    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }

    &__img {
        height: 22.5rem; 
        width: auto;
    }
}


.quem-gosta {
    background-color: var(--color-quinary);
    padding: 20rem 0;  

    & h1 {
        color: var(--color-primary);
        text-align: center;
        margin-bottom: 10rem;
    }

    &__carousel {
        max-width: 114rem;  
        height: 20rem;
        margin: auto;
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        overflow-x: auto; 
        overflow-y: hidden;
        width: 55rem;  
        height: 20rem;  
        margin: auto;
        padding: 5rem;       
    }

    &__list {
        list-style: none;  
        margin: 0;
        padding: 0;       
        position: relative;
        display: flex;      
    }

    &__item {
        position: relative;    
              
        &::before {  
            content: "\201C";
            position: absolute;
            top: -5.5rem;      
            left: -5rem;        
            font-size: 20rem;   
            color: var(--color-primary);
            font-family: sans-serif;
            line-height: 1;
            z-index: 1;      
        }

        &:not(:last-child) {
            margin-right: 20rem;               
        }
    }

    &__text {
        width: 50rem;
        position: relative; 
        z-index: 20;  
        margin: 0 auto 2rem auto;
        font-size: 1.8rem;
        color: var(--color-secondary);
        }

    &__author {
        margin: 0 auto;
        text-align: end;
        color: var(--color-primary);          
    }
}