:root {

    --color-primary: #ffffff;

    --color-secondary: #5d1617;

    --color-tertiary: #309642;
    --color-tertiary--dark: #0a1f0e;
    
    --color-quaternary: #1a1919;

    --color-quinary: #f0d808;   
}