h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 6.2rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.2rem; 
    text-transform: uppercase;   
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8rem; 
    text-transform: uppercase;   
}

p {
    font-size: 1.8rem;
    line-height: 2;
    font-weight: 300; 
}

.ingredientes {
    font-size: 1.4rem;
    line-height: 2;
    font-weight: 300;
    color: var(--color-primary); 
}